*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-container>img:nth-of-type(1){
  height: 400px;
  width: 400px;
  align-self: center;
}